#grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.children{
    background-color: aqua;
    border: 5px solid white;
    height: 300px;
}

#navbar{
    color: white;
    background-color: black;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

a{
    color: white;
    text-decoration: none;
}

@media all and (max-width : 1000px){
    #grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .children{
        height: 250px;
        background-color: red;
    }
} 

@media all and (max-width : 700px)
{
    #grid{
        grid-template-columns: 1fr 1fr ;
    }
    .children{
        height: 200px;
        background-color: yellow;
    }


    a{
        display: none;
    }

    #navbar{
        justify-content: center;
    }
}


@media all and (max-width : 450px)
{
    #grid{
        display: flex;
        flex-direction: column;
    }
    .children{
        height: 400px;
        background-color: lightgreen;
    }
}